[user]
	email = klercke@protonmail.com
	name = Konnor Klercke
	signingkey = 249DF839A80D37DD
[core]
	editor = nvim
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
