[user]
	email = {{git.email}}
	name = {{git.name}}
	signingkey = {{git.signingkey}}
[core]
  editor = {{editor}}
  pager = delta
[commit]
  {{#if git.signingkey}}
	gpgsign = true
	{{else}}
	gpgsign = false
	{{/if}}
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
