[user]
	email = klercke@protonmail.com
	name = Konnor Klercke
	signingkey = 249DF839A80D37DD
[core]
  editor = {{editor}}
  pager = delta
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
