layout {
  pane split_direction="vertical" {
    pane edit="."
    pane split_direction="horizontal" {
      tofu { args "plan"; }
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
  pane_template name="tofu" {
    command "tofu"
    start_suspended true
  }
}
